@{
    ViewData["Title"] = "Ana Ekran";
    Layout = "_LayoutAdmin";
}

<h2>Admin Paneline Hoşgeldiniz</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-body">
                <h5 class="card-title">Toplam Kullanıcı</h5>
                <p class="card-text">@ViewBag.TotalUsers</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-body">
                <h5 class="card-title">Toplam Kategori</h5>
                <p class="card-text">@ViewBag.TotalCategories</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-body">
                <h5 class="card-title">Toplam Haber</h5>
                <p class="card-text">@ViewBag.TotalNews</p>
            </div>
        </div>
    </div>
</div>
