﻿<nav class="sb-topnav navbar navbar-expand navbar-light bg-white border-bottom border-pink">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- Sidebar Toggle Button (en sola alındı) -->
        <button class="btn btn-light me-2" id="sidebarToggle" style="margin-right: 1rem;">
            <i class="fas fa-bars text-pink"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand fw-bold text-pink" href="/Admin">Fleama Admin</a>

        <!-- Search Bar -->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Ara..." />
                <button class="btn btn-outline-pink" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- User Dropdown -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"><i class="fas fa-user"></i></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Çıkış Yap</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>