<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fleama Admin</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" />
    <link rel="stylesheet" href="/admin/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="..." crossorigin="anonymous" />

    <style>
        body {
            background-color: #fff;
            color: #000;
        }

        .sb-sidenav-custom {
            background-color: #fce4ec;
            color: #000;
        }

            .sb-sidenav-custom .nav-link {
                color: #000;
                font-weight: 500;
            }

                .sb-sidenav-custom .nav-link:hover {
                    background-color: #f8bbd0;
                    color: #880e4f;
                }

        .btn-outline-primary:hover {
            background-color: #f8bbd0;
            color: #000;
        }

        .btn-outline-dark:hover {
            background-color: #f8bbd0;
            color: #000;
        }

        .sb-sidenav-footer {
            color: #444;
            background-color: #f8bbd0;
        }

        h2 {
            margin-bottom: 20px;
            font-weight: 600;
            color: #000;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <partial name="_Navbar" />
    <div id="layoutSidenav">
        <partial name="_Sidebar" />
        <div id="layoutSidenav_content">
            <main role="main">
                <div class="container-fluid px-4 py-4">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/admin/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
